<header class="post-info">

  {{- if .Params.PublishDate }}
  <br>
  <small>
  <time datetime="{{ .PublishDate }}">{{ i18n "publishdate" . }}</time>
  </small>
  {{- end }}
  
  <h1 class="post-title">{{ .Title }}</h1>
    {{ if .Params.categ }}
  {{ range .Params.categ }}
  <div class="post-taxonomies">
  
    <a href="/categ/{{ . }}">#{{ . }}</a>
  
  </div>
  {{ end }}
  {{ end }}
  <hr class="post-line" role="separator" />

  {{- if ne .Params.Author false }}
  <span>
  {{ i18n "writtenBy" }}
  {{- if .Params.Author }}
  {{ .Params.Author }}
  {{- else }}
  {{ $.Site.Author.name }}
  {{- end }}
  </span>
  {{- end }}

</header>
