<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{ partial "head.html" . }}

  <body>
    {{ partial "header.html" . }}
    
    {{ block "introduction" . }} {{ end }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </body>
  
  {{ $espacefine := resources.Get "js/lib/espacefine.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $espacefine $main | resources.Concat "js/bundle.js" | resources.Minify }}
  
  <script src="{{ $js.Permalink }}" async></script>

</html>
