{{ define "main" }}

<h1>{{ .Title }}</h1>

<article class="terms-catalogue">
  <ul class="terms-catalogue-list">
    {{- range .Pages }}
    <li class="terms-catalogue-term">
      <a href="{{ .Permalink }}">
        <span class="tersm-catalogue-title">#{{ lower .Title }}</span>
        <span class="terms-catalogue-pagecount">
            {{- .Paginator.TotalNumberOfElements }} 
        </span>
      </a>
    </li>
    {{- end }}
  </ul>
</article>

<div class="pagination">
  {{- if .Paginator.HasPrev -}}
  <a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
  {{- end -}}
  {{- if .Paginator.HasNext -}}
  <a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
  {{- end -}}

  <span>{{ .Paginator.PageNumber }}</span>
</div>

{{ end }}
