{{ define "main" }}

<h1>{{ .Title }}</h1>

<article class="">
    <ul>
    {{- range .Pages -}}
        <li>
          <a href="{{ .Permalink }}"
             class="catalogue-item">
              <span class="catalogue-title">#{{ lower .Title }}</span>
              <em>{{ .Paginator.TotalNumberOfElements }} 
                {{- if gt (.Paginator.TotalNumberOfElements) 1 }}
                {{ pluralize "page" }}
                {{- else }}
                page
                {{ end }}
            </em>
          </a>
      </li>
    {{- end -}}
    </ul>
</article>

<div class="pagination">
    {{- if .Paginator.HasPrev -}}
        <a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
    {{- end -}}
    {{- if .Paginator.HasNext -}}
        <a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
    {{- end -}}

    <span>{{ .Paginator.PageNumber }}</span>
</div>

{{ end }}