{{ define "main" }}

<div class="catalogue">
  {{ range (.Paginate .Pages).Pages }}
  {{ .Render "summary" }}
  {{ end }}
</div>

<div class="pagination">
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}" class="left arrow" title="{{ i18n "previousPage" }}">&#8592;</a>
  {{ end }}
  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}" class="right arrow" title="{{ i18n "nextPage" }}">&#8594;</a>
  {{ end }}

  <span>{{ .Paginator.PageNumber }}</span>
</div>

<!-- Netlify identity widget -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

{{ end }}
