{{ define "introduction" }}

<section class="home-intro">
  <div class="container">
    {{ .Content}}
  </div>
</section>

{{ end }}

{{ define "main" }}

{{ $featuredSection := .Params.featuredSection }}
{{ $featuredSectionPages := (.Site.GetPage "section" $featuredSection.section).Pages }}

{{ if $featuredSection }}
<section class="home-featured">
  <h2>{{ $featuredSection.title }}</h2>

  <hr class="home-featured-line" role="separator" />

  {{ range first $featuredSection.limit $featuredSectionPages }}
  {{ .Render "summary" }}
  {{ end }}
</section>

{{ if gt (len $featuredSectionPages) $featuredSection.limit }}
<a href="{{ (.Site.GetPage "section" $featuredSection.section).RelPermalink }}">Lire les autres publications &rarr;</a>
{{ end }}
{{ end }}

{{ partial "pagination.html" . }}

<!-- Netlify identity widget -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

{{ end }}
